<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="static/css/register.css">
</head>
<body>
<div class="taskbar">
  <span style="width: 10px;height: 100%"></span>
  <span style="font-size: 20px;">设备管理系统</span>
  <span style="width: 60%;height: 100%"></span>
  <a href="/index"><button style="margin-top:4px;border-radius: 4px;border: none;height: 85%;width: 100px;font-size: 20px">主页</button></a>
  <span style="width: 20px;height: 100%"></span>
  <a href="/login"><button style="margin-top:4px;border-radius: 4px;border: none;height: 85%;width: 100px;font-size: 20px">登录</button></a>
  <span style="width: 20px;height: 100%"></span>
  <a href="/home"><button style="margin-top:4px;border-radius: 4px;border: none;height: 85%;width: 100px;font-size: 20px">我的信息</button></a>
</div>
<div class="show">
  <div class="img" style="background-image: url('static/img/1.jpg');background-size: contain"></div>
  <div class="img" style="background-image: url('static/img/2.jpg');background-size: contain"></div>
  <div class="img" style="background-image: url('static/img/3.jpg');background-size: contain"></div>
</div>

<div class="login" style="background-image: url('static/img/login.jpg');width: 1200px;height: 356px;">


</div>
<div class="taskbar" style="text-align: center;justify-content: center;">
  <span>@该设备管理系统由郭韦刚，蔡天赐，徐文军，张奥举共同开发，侵权必纠</span>
</div>
</body>
</html>